.page-title
  Коллекции
  = @brand.name

%ul.collections
  - @collections.each do |collection|
    %li.clearfix
      .logo
        = image_tag collection.logo_url(:thumb)
      .content
        .top-row
          = link_to collection.name, products_brand_collection_path(@brand, collection)

        %ul.collection-params
          %li
            Страна-производитель:
            %span.bolder
              = collection.country

          %li
            Класс:
            %span.bolder
              = collection.rank.to_s

          %li
            Размеры:
            %span.bolder
              = collection.sizes


          -#%li
            Фаска
            %span.bolder 4x

        .about
          = collection.about

        .buttons.clearfix
          = link_to "Товаров #{collection.products_count.to_s}", products_brand_collection_path(@brand, collection), class: :button
