.page-title
  Оформление заказа

#cart

  %table.cart-table
    - @cart_products.each do |cart_product|
      %tr{cart_product_id: cart_product.id, meters_per_pack: cart_product.product.meters_per_pack}
        %td
          = image_tag cart_product.product.image_url(:thumb)
        %td
          = link_to cart_product.product.full_name, product_path(cart_product.product)
        %td
          %input.ololo{type: :text, value: cart_product.count.to_s}
          &nbsp; уп
          %br
          .align-left{style: 'text-align: left; padding-left: 22px'}
            %number.meters
              - if cart_product.product.meters_per_pack
                = sprintf("%.2f", cart_product.count * cart_product.product.meters_per_pack).to_f
            м2
        %td
          Стоимость (уп):
          .value
            %number
              = "#{cart_product.product.price.to_s}"
            ₽

        %td.cart-product-sum
          Сумма
          .value
            %number
              = "#{cart_product.price}"
            ₽

        %td
          = link_to '', cart_product_path(cart_product), class: 'remove-cart-row-icon', method: :delete, confirm: 'Вы уверены?'


  .bottom
    .total-price
      Итого:
      %span.value
        %number
          = "#{@cart_products.map {|cp| cp.price }.sum}"
        ₽


    %a.clear-cart-button{href: clear_cart_path}
      Очистить корзину
    .make-order-button
      Оформить заказ



#cart-modal
  .title
    Менеджер перезвонит вам через 15 минут


  .modal-thank
    Ваш заказ принят

  .form
    .left
      %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    .right
      %textarea{name: :content, placeholder: 'Напишите адрес доставки и удобное для вас время'}
      .button#send-form Отправить