= simple_form_for collection, url: url do |f|
  = f.input :name
  = image_tag collection.logo_url(:thumb) if collection.logo?
  = f.input :logo
  = f.input :country, as: :string
  = f.input :rank
  = f.input :sizes
  = f.input :about
  = f.submit 'Готово', class: [:btn, 'btn-lg', 'btn-success']