.page-title
  Ламинат
  = @product.brand.name
  = @product.collection.name
  = @product.name

#product
  .widget-and-image.clearfix
    .image
      = image_tag @product.image_url(:preview)
    .widget
      .left
        .price.clearfix
          .label
            Стоимость (м2):
          .value
            %number
              = "#{@product.meter_price.to_s}"
            ₽

        .price.clearfix
          .label
            Стоимость (уп):
          .value
            %number#pack-price
              = "#{@product.price}"
            ₽


        .price.clearfix
          .label
            Итого:
          .value.orange
            %number#total-price
              0
            ₽

        .annotation
          Вы можете заказать образец
          этого ламината. Наш менеджер
          доставит вам его домой на
          следующий день.

      .right
        %form.meters-packs-form{action: cart_products_path, method: :post}
          .fields{meters_per_pack: @product.meters_per_pack.to_s}
            %input.meters{type: :text, name: 'cart_product[square]', value: '0'}
            &nbsp; м2 =
            %input.packs{type: :text, name: 'cart_product[count]', value: '0'}
            &nbsp; уп
            %input#product-id{type: :hidden, name: 'cart_product[product_id]', value: @product.id.to_s}

          .buttons
            .button#add-to-cart
              Положить в корзину

            - if session[:deferred_products_ids] and session[:deferred_products_ids].include?(@product.id)
              .button.deferred
                Пробник заказан
            - else
              .button#set-asside
                Заказать пробник


  .tables.clearfix
    .table
      %table
        %tr
          %td
            Артикул:
          %td
            = @product.article

        %tr
          %td
            Размер:
          %td
            = "#{@product.length}x#{@product.width}x#{@product.height}"

        %tr
          %td
            В упаковке (м2):
          %td
            = @product.meters_per_pack.to_s

        %tr
          %td
            В упаковке (шт):
          %td
            6


        %tr
          %td
            Вес упаковки (кг):
          %td
            -#= @product.weight.to_s
            5,56

    .table
      %table
        %tr
          %td
            Производитель:
          %td
            = @product.brand.name

        %tr
          %td
            Страна производства:
          %td
            = @product.country

        %tr
          %td
            Замок:
          %td
            AVERLOC

        %tr
          %td
            Срок службы:
          %td
            = @product.lifetime


        %tr
          %td
            Объем упаковки(м3):
          %td
            = @product.volume

        -#%tr
          %td
            Размер
          %td
            2283x194x14
