.page-title
  Ламинат
  = @product.brand.name
  = @product.collection.name
  = @product.name

#product
  .widget-and-image.clearfix
    .image
      %a{href: @product.image_url, 'data-lightbox' => 'item'}
        = image_tag @product.image_url(:preview)
    .widget
      .left
        .price.clearfix
          .label
            Стоимость (м2):
          .value
            %number
              = "#{@product.meter_price.to_s}"
            ₽

        .price.clearfix
          .label
            Стоимость (уп):
          .value
            %number#pack-price
              = "#{@product.price}"
            ₽


        .price.clearfix
          .label
            Итого:
          .value.orange
            %number#total-price
              0
            ₽

        .annotation
          Вы можете заказать образец
          этого ламината. Наш менеджер
          доставит вам его домой на
          следующий день.

      .right
        %form.meters-packs-form{action: cart_products_path, method: :post}
          .fields{meters_per_pack: @product.meters_per_pack.to_s}
            %input.meters{type: :text, name: 'cart_product[square]', value: '0'}
            &nbsp; м2 =
            %input.packs{type: :text, name: 'cart_product[count]', value: '0'}
            &nbsp; уп
            %input#product-id{type: :hidden, name: 'cart_product[product_id]', value: @product.id.to_s}

          .buttons
            .button#add-to-cart
              Положить в корзину

            - if session[:deferred_products_ids] and session[:deferred_products_ids].include?(@product.id)
              .button.deferred
                Образец заказан
            - else
              .button#set-asside.orange
                Заказать образец


  .tables.clearfix
    .table
      %table
        %tr
          %td
            Артикул:
          %td
            = @product.article

        %tr
          %td
            Размер:
          %td
            = "#{@product.length}x#{@product.width}x#{@product.height}"

        %tr
          %td
            В упаковке (м2):
          %td
            = @product.meters_per_pack.to_s

        %tr
          %td
            В упаковке (шт):
          %td
            = @product.number_per_pack.to_s


        %tr
          %td
            Вес упаковки (кг):
          %td
            = @product.weight.to_s

        %tr
          %td
            Использование теплых полов:
          %td
            = @product.heat_floor


    .table
      %table
        %tr
          %td
            Производитель:
          %td
            = @product.brand.name

        %tr
          %td
            Страна производства:
          %td
            = @product.country

        %tr
          %td
            Замок:
          %td
            = @product.lock_type

        %tr
          %td
            Срок службы:
          %td
            = @product.lifetime

        %tr
          %td
            Фаска
          %td
            = @product.facet

        %tr
          %td
            Отделка поверхности:
          %td
            = @product.stamping


-# if @last_viewed_products
  .page-title{style: 'margin-top: 50px;'}
    Последние просмотренные товары
  = render partial: 'products/list', locals: {products: @last_viewed_products}
