!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'


    -#= set_meta_tags site: 'My Site'
    %title
      Пол 21 века | Интернет-магазин напольных покрытий

  %body
    .modal-overlay
    = render partial: 'products/article_modal'
    = render partial: 'application/get_call'

    .wrapper

      .topbar
        .logo
          %a{href: root_path}
            = image_tag 'logo.png', width: 200

        .order-call
          Заказать звонок
        .phone
          (495) 532 64 38
          .small
            ежедневно с 9:00 до 21:00


      %ul.navbar



        %li{class: (params[:action] == 'by_parameters') ? 'active' : ''}
          = link_to 'Выбор по параметрам', by_parameters_products_path
        %li{class: (params[:controller] == 'brands' or params[:controller] == 'collections') ? 'active' : ''}
          = link_to 'Производители', brands_path
        %li#show-article-modal
          %a{href: '#'} По артикулу
        %li.cart-widget
          = render partial: 'cart/widget'

      - unless params[:controller] == 'products' and params[:action] == 'index'
        .breadcrumbs
          = render_breadcrumbs separator: ' / ', class: :li

      = yield

      .footer
        .separator
        .content
          ООО «Пол 21 века»
          %br
          2013-2014
          %br
          Все права защищены